<div class="container">
    <h2>Book List</h2>
    <button (click)="openAddBookModal()">Add Book</button>
    <table class="book-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Author</th>
          <th>ISBN</th>
          <th>Publication Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ book.title }}</td>
          <td>{{ book.author }}</td>
          <td>{{ book.isbn }}</td>
          <td>{{ book.publicationDate | date: 'mediumDate' }}</td>
          <td>
            <button (click)="viewBook(book.id)">View</button>
            <button (click)="editBook(book)">Edit</button>
            <button (click)="deleteBook(book.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <!-- Edit Popup Modal -->
    <div *ngIf="editingBook" class="modal">
      <div class="modal-content">
        <h3>Edit Book</h3>
        <label>
          Title:
          <input [(ngModel)]="editingBook.title" />
        </label>
        <label>
          Author:
          <input [(ngModel)]="editingBook.author" />
        </label>
        <label>
          ISBN:
          <input [(ngModel)]="editingBook.isbn" />
        </label>
        <label>
          Publication Date:
          <input [(ngModel)]="editingBook.publicationDate" type="date" />
        </label>
        <div class="form-actions">
          <button (click)="saveBook()">Save</button>
          <button (click)="cancelEdit()">Cancel</button>
        </div>
      </div>
      <div class="modal-overlay" (click)="cancelEdit()"></div>
    </div>


    <!-- Add Book Modal -->
  <div *ngIf="showAddBookModal" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Add New Book</h3>
        <img src="../../assets/books.png" alt="Book Icon" class="modal-icon" />
      </div>
      <label>
        Title:
        <input [(ngModel)]="newBook.title" />
      </label>
      <label>
        Author:
        <input [(ngModel)]="newBook.author" />
      </label>
      <label>
        ISBN:
        <input [(ngModel)]="newBook.isbn" />
      </label>
      <label>
        Publication Date:
        <input [(ngModel)]="newBook.publicationDate" type="date" />
      </label>
      <div class="form-actions">
        <button (click)="addBook()">Add</button>
        <button (click)="closeAddBookModal()">Cancel</button>
      </div>
    </div>
    <div class="modal-overlay" (click)="closeAddBookModal()"></div>
  </div>
  </div>
  