.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f4f4f4;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.navbar-logo img {
  height: 55px;
  max-height: 100%;
  border-radius: 50%;
  cursor: pointer;
}

.navbar-profile img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  cursor: pointer;
}

.navbar-profile img:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.navbar-title h3 {
  margin: 0;
  font-size: 1.5rem; /* Slightly larger font size for focus */
  color: #333;
  text-align: center;
  flex: 1; /* Ensures the title takes up the available space */
}

.navbar-date {
  font-size: 0.9rem; /* Smaller font size */
  color: grey; /* Grey font color */
  margin-right: 20px; /* Space to the right */
  text-align: right;
}

.navbar {
  gap: 20px; /* Add spacing between navbar items */
}
