.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-logo img {
    height: 55px; 
    max-height: 100%; 
    border-radius: 50%;
    cursor: pointer;
  }
  
  .navbar-profile img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .navbar-profile img:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  